@media (max-width: 46rem){
    main{
        margin: 0 4rem;
    }

    .navigation ul li a {
        font-size: 1rem;
    }
    .navigation ul li .aa {      
        margin-left: .5rem;
    }
    .main .left h2{
        font-size: 1.5rem;
    }
    .navigation ul li {        
        margin-right: 5px;
    }
    
.projects .project-container {    
    margin: 3rem 1rem;
}

    /* ---------- footer responsive ------------- */
   .f-links{
    flex-direction: column;
   } 
  
}

@media (max-width: 960px) {

    nav img {
        height: 2.2rem;
    }

    .main{
        flex-direction: column-reverse;
    }

    main {
        margin: 0 1rem;
       
    }
    .main .left h1 {
        font-size: 3rem;
        line-height: 45px;
        margin-top: 2rem;
    }
    .main .right img {
        height: 15rem;
        margin-top: 4rem;
    }

/* about paragraph ------ */
    .about p {        
        padding: 1rem;
        font-size: 1.2rem;
        margin: 0;
    }

    /* skills design */
    .Skills .skill-box .skill-have {        
        max-width: 100%;
        width: 100%;
    }

     .f-links img{
     height: 3rem;
   }
    .link-a-titles {
    padding: 0;
    }
    .link-b-icons {
    padding: 0;    
    }
    .link-b-icons ul li {
        margin: 0  0.5rem;    
    }
    .link-c-contact {    
    padding: 0;
    }
}